#github
passwd

# KDevelop
*.kdev4

# Compiled Object files
*.o

# Application files
enigma-solver-client
enigma-solver-server

#soft-links
client/common.h
client/common.c
server/common.h
server/common.c
